.item {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.status {
}

/* .avatar {} */

.name {
    font-size: 18px;
    font-weight: 600;
}

